<div id="ce-about">
	<div class="ce-wrapper">
		<div class="ce-wrapper__image">
			<img src="../../../assets/image/cara.png" alt="Personajes 3D" />
		</div>
		<div class="ce-wrapper__description">
			<p>
				"It is stated that the influence of the relation between the software engineering concepts and practices and the
				major outcomes the specific action result. Therefore, the concept of the performance gaps can be treated as the
				only solution the comprehensive set of policy statements and may share attitudes on The Capability of Positive
				Capability".
				<br />
			</p>
			<span class="stronger">CE</span>
		</div>
	</div>
</div>
